body{
    margin: 0;  
    position: fixed;
} 
    
img{
    display:block;
    width: 100vw;
    height: 100vh;
}

.hidden{
    display: none;
}

.parents{
    position: relative;
}

.child{
    position: absolute;
    width: 100vw;
    text-align: center;
    left: 0;
    top: 0;
}

.child2{
    position: absolute;
    width: 50vw;
    text-align: left;
    top: 0;
}

h1, h2, ul, #quote, #weather{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
    text-shadow: -0.05rem 0 black, 0 0.05rem black, 0.05rem 0 black, 0 -0.05rem black;
    font-weight: bold;
}

button{
    background-color: transparent;
    color: red;
    font-weight: bold;
    border: 0;
    outline: none;
}

button:hover{
    background-color: red;
    color: black;
}

#greeting{
    font-size: 3.5rem;
    margin: 1.5rem;
}

#clock{
    font-size: 10rem;
    margin-bottom: 0;
}

#weather{
    position: absolute;
    width: 50vw;
    text-align: right;
    top: 0;
    right: 0.5rem;
}

#quote{
    position: absolute;
    text-align: left;
    font-size: 1.2rem;
    bottom: 0.1rem;
}